# ========================
# CMake
# ========================
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# ========================
# Cartelle di Build
# ========================
build/
build-*/
out/
bin/
lib/

# ========================
# File Oggetto Compilati
# ========================
*.o
*.obj
*.slo
*.lo

# ========================
# Librerie Dinamiche e Statiche
# ========================
*.so
*.dylib
*.dll
*.a
*.lib
*.la
*.lai

# ========================
# Eseguibili
# ========================
*.exe
*.out
*.app

# ========================
# Precompiled Headers
# ========================
*.gch
*.pch

# ========================
# Log e output di profiling
# ========================
*.log
callgrind-results*/

# ========================
# Editor e IDE (VS Code, CLion, VS, Vim, Mac)
# ========================
.vscode/
.vs/
.idea/
*.suo
*.sln
*.sw?
.DS_Store


gradients/
weights/
examples/data/mnist/*.bin
examples/data/mnist/*.idx
examples/data/mnist/*.gz
examples/data/mnist/*.dat
examples/data/mnist/*.raw
!examples/data/.gitkeep
